server:
  addr: ":8080"

redis:
  addr: "localhost:6379"
  password: ""
  db: 0

mysql:
  dsn: "root:password@tcp(localhost:3306)/aipower?parseTime=true"

prometheus:
  url: "http://localhost:9090"

k8s:
  kubeconfig: "" # Leave empty for in-cluster config
